@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center h-100">
    <h1 class="display-4">Bem vindo a Barbearia Tranquila</h1>
	<p>
		Agende seu horário com um de nossos profissionais e tenha uma experiência única. 
	</p>
	<a asp-controller="Agendamento" asp-action="Agendar" class="btn btn-outline-primary">Agendar</a>
</div>
